@font-face {
  font-family: "Typold";
  src: url("../font/Typold-Bold.woff") format("woff"), url("../font/Typold-Bold.ttf") format("truetype"), url("../font/Typold-Bold.svg#Typold-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Typold";
  src: url("../font/Typold-Regular.woff") format("woff"), url("../font/Typold-Regular.ttf") format("truetype"), url("../font/Typold-Regular.svg#Typold-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Typold Book";
  src: url("../font/Typold-Book.woff") format("woff"), url("../font/Typold-Book.ttf") format("truetype"), url("../font/Typold-Book.svg#Typold-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Utopia Std";
  src: url("../font/UtopiaStd-Regular.woff2") format("woff2"), url("../font/UtopiaStd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/**
* Variables
*/
.main-banner {
  background-image: url(../img/banner-acerca-de.jpg);
}

.img_desc-cont {
  margin-bottom: 0;
}
.img_desc-cont.r-square .column .text-cont {
  padding-right: 0;
  padding-left: 100px;
}
.img_desc-cont .column .img-cont {
  width: 100%;
}
.img_desc-cont .column .img-cont img {
  margin-bottom: -4px;
}
.img_desc-cont .column .text-cont {
  padding-left: 0;
  padding-right: 100px;
}
.img_desc-cont .column .text-cont .desc {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .img_desc-cont.r-square {
    flex-direction: column-reverse;
  }
  .img_desc-cont.r-square .column .text-cont {
    padding-left: 0;
  }
  .img_desc-cont .column .text-cont {
    padding-right: 0;
  }
}