@import "vars";

.popup-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.8);
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &.active{
        display: flex;
    }
    .box-cont{
        display: flex;
        width: 80%;
        max-width: 970px;
        position: relative;
        .close{
            position: absolute;
            top: -28px;
            right: -28px;
            width: 56px;
            height: 56px;
            background-color: $main-color;
            z-index: 30;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            img{
                width: 18px;
            }
        }
        .column{
            box-sizing: border-box;
            &:first-of-type{
                width: 400px;
                background-color: $main-color;
                display: flex;
                align-items: end;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            &:last-of-type{
                width: 570px;
                padding: 55px 75px;
                background-color: #fff;
                .title{
                    text-align: left;
                    height: auto;
                    margin: 0;
                    color: #241f20;
                    line-height: 1;
                    &:before{
                        display: none;
                    }
                }
                .job{
                    font-family: 'Typold';
                    font-weight: bold;
                    color: $main-color;
                    font-size: 20px;
                    line-height: 1;
                }
                a.mail{
                    text-decoration: none;
                    display: block;
                    margin-top: 15px;
                    font-size: 18px;
                    color: #241f20;
                    font-family: 'Utopia Std';
                    transition: all 300ms;
                    &:hover{
                        color: $main-color;
                    }
                }
                .content{
                    margin-top: 15px;
                    width: 100%;
                    padding-right: 10px;
                    height: 480px;
                    overflow-y: scroll;
                    text-align: justify;
                    font-size: 16px;

                    b{
                        font-family: 'Typold';
                        // font-weight: bold;
                    }
                   /* width */
                    &::-webkit-scrollbar {
                        width: 3px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #e6e6e6;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #b3b3b3;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #b3b3b3;
                    }
                    .main{
                        padding: 0;
                        margin: 0;
                        li{
                            line-height: 1.5;
                            margin-bottom: 30px;
                            list-style: disc;
                            text-indent: 20px;
                            position: relative;
                            &::before{
                                content: "";
                                position: absolute;
                                background-color: $main-color;
                                border-radius: 50%;
                                width: 4px;
                                height: 4px;
                                top: 12px;
                                left: 7px;
                            }

                            ul{
                                li{
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.main-banner{
    background-image: url(../img/banner-equipo.jpg);
}

.team-cont{
    .container{
        .members-cont{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: start;
            // row-gap: 30px;
            // column-gap: 30px;

            .member{

                box-sizing: border-box;

                width: calc(33% - 17px);
                height: 328px;
                margin-right: 30px;
                margin-bottom: 30px;

                border: 2px solid $main-color;
                position: relative;

                &:nth-child(3n){
                    margin-right: 0;
                }
                &:last-child{
                    margin-bottom: 30px;
                }

                &:hover{
                    .img-cont{
                        .circle{
                            width: 100%;
                            height: 100%;
                            border-radius: 0;
                            background-color: #241f20;
                            margin-top: 0px;
                            transform: translateY(0);

                            img{
                            filter: grayscale(0);
                            transform: translateY(15px);

                            }
                        }
                        .text{
                            color: #fff;
                        }
                        .arrow{
                            background-color: #fff;
                            svg{
                                path{
                                    fill: #241f20;
                                }
                            }
                        }
                        .circle-overlay{
                            display: block;
                            border-color: $main-color;
                            opacity: 1;
                        }
                    }
                }
                .img-cont{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .circle{
                        width: 185px;
                        height: 185px;
                        z-index: 10;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        transition:all 250ms;
                        background-color: $main-color;
                        transform: translateY(-15px);
                        img{
                            transition: all 250ms;
                            filter: grayscale(1);
                            transform: translateY(30px);
                            // margin-top: 60px;
                        }

                    }

                    .text{
                        position: absolute;
                        width: 100%;
                        top: 250px;
                        padding: 0 45px;
                        z-index: 12;
                        font-weight: bold;
                        box-sizing: border-box;
                        font-size: 12px;
                        font-family: 'Typold';
                    }

                    .arrow{
                        position: absolute;
                        top: 172px;
                        left: 60%;
                        width: 62px;
                        height: 62px;
                        z-index: 15;
                        border-radius: 50%;
                        background: #241f20;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 5px;
                        box-sizing: border-box;
                        transition:all 250ms;
                        cursor: pointer;

                        svg{
                            width: 30px;
                            height: 30px;

                            border-radius: 50%;
                            path{
                                fill: $main-color;
                            }
                        }

                    }

                    .circle-overlay{
                        border: 1px solid $main-color;
                        width: 185px;
                        height: 185px;
                        z-index: 10;
                        border-radius: 50%;
                        position: absolute;
                        top: 55.5px;
                        transition: all 300ms;
                        opacity: 0;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .popup-cont{
        .box-cont{
            flex-direction: column;
            .column{

                &:first-of-type{
                    width: 100%;
                    background-color: $main-color;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    img{
                        // display: none;
                        width: 300px;
                        width: 120px;
                    }
                }
                &:last-of-type{
                    width: 100%;
                    padding: 20px 30px;
                    height: 390px;
                    .title{
                        font-size: 20px;
                    }
                    .job{
                        font-size: 16px;
                    }

                    .content{

                        height: 250px;

                    }
                }
            }

        }
    }
    .team-cont{
        .container{
            .members-cont{
                .member{
                    max-width: calc(50% - 7.5px);
                    flex: 1 0 calc(50% - 7.5px);

                    margin-right: 15px;
                    overflow: hidden;

                    &:nth-child(even){
                        margin-right: 0;
                    }

                    &:nth-child(3n){
                        margin-right: 15px;
                    }
                    &:nth-child(6){
                        margin-right:0px;
                    }

                    .img-cont{
                        .text{
                            padding: 10px;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .team-cont{
        .container{
            .members-cont{
                .member{
                    max-width:100%;
                    flex: 1 0 100%;

                    margin-right: 0;
                    overflow: hidden;

                    &:nth-child(even){
                        margin-right: 0;
                    }

                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    &:nth-child(6){
                        margin-right:0px;
                    }

                    .img-cont{
                        .text{
                            padding: 10px;
                        }
                    }

                }
            }
        }
    }
}